<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="subContainer">
            <div id="userLogin">
            
                <form action="/sessions" method="POST">
                    <div id="createUser">
                        <label for="username" class="sLabel"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required class="sInput"><br/>
        
                        <label for="password" class="sLabel"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required class="sInput"><br/>
                        
                        <input type="submit" value="Login" class="btns"><br/>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                    <div class="subLogin">
                        <span>Forgot <a href="#" class="link">password</a>?</span>
                        <span>New <a href='/users/new' class="link">user</a>?</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>