<div id="headerAsideContainer">
    <ul class="links">
        <% if (currentUser) { %>
        <li class="greet">Welcome <%= currentUser.username %></li>
        <li class="myLinks"><a href="/users/<%=currentUser._id%>/edit" class="myLinks">Update Account</a></li>
        <li class="myLinks">
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="myLinks btns"  />
          </form>
        </li>
        <% } else { %>
        <li><a href="/users/new" class="myLinks">Sign Up</a></li>
        <li><a href="/sessions/new" class="myLinks">Log In</a></li>
        <% } %>
    </ul>
</div>