<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="homeMain">
        <h2>Index</h2>
        <a href="/new">
            <button>
                Add Item
            </button>
        </a>
        <ul>
            <% for(let i = 0; i < collectables.length; i++) {%>
                <li>
                    <a href="/<%=collectables[i]._id;%>">
                        <%=collectables[i].name;%>
                    </a>
                </li>

            <% } %>
        </ul>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>