<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
      <%- include('./partials/header.ejs') %>
      <div class="container landing">
        <div class="subContainer">
            <h1 class="pageTitle">WithMe</h1>
            
            <h2>Collect & Share</h2>
            <p>Welcome to WithMe! A database of different collectable items, their values, and details. Start adding to the grand <a href="/collection" class="link">collection</a> now!</p>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
    
</body>
</html>