<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="landing">
        <div class="subContainer">
            <h1 class="pageTitle">Signup</h1>
            <form action="/users" method="POST">
                <span class="sLabel">Email</span><input type="text" name="email" /><br/>
                <span class="sLabel">Username</span><input type="text" name="username" /><br/>
                <span class="sLabel">password</span><input type="password" name="password" /><br/>
                <input type="submit" value="Create User" class="btns"/>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>